.main {
  padding: 16px;
}

.main::after {
  content: "";
  display: block;
  height: 100vh;
  border-top: 2px solid currentColor;
}

.main > section > p {
  font-size: 12vh;
  line-height: 2;
}

.main > aside {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
}

.pause,
.countdown {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seen {
  opacity: 0.5;
}
